/* Global */
:root {
    --color-gray: #737578
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    cursor: default;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* Navbar */
#navbar {
    height: 48px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: #fff;
}

.navbar__logo {
    font-size: 20px;
}

.logo__icon i {
    color: #ff0b00;
}

.logo__title {
    color: #fff;
}

.navbar__functions i {
    padding: 50% 5px;
    margin: 0 10px;
}

/* Video */
.video__image {
    width: 100%;
    height: 100%;
}

/* Contents */
#contents {
    padding: 6px 0;
}

/* Contents__description */
.contents__description {
    padding: 0 12px;
}

.description__hashtag {
    color: #0f74d9;
}

.description__header {
    display: flex;
    padding: 4px 0;
    font-size: 16px;
}

.description__views {
    flood-color: var(--color-gray);
    font-size: 10px;
}

.description__reactions {
    color: var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    margin: 6px 12px;
}

.reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reaction i {
    font-size: 18px;
    margin-bottom: 6px;
}

.reaction p {
    font-size: 10px;
}

/* Contents__youtuber */
.contents__youtuber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 12px 12px;
    border-top: solid 1px #cbcfd4;
    border-bottom: solid 1px #cbcfd4;
}

.youtuber__intro {
    display: flex;
    align-items: center;
}

.youtuber__intro__text {
    padding: 0 8px;
}

.youtuber__intro__image {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.text__subscribersCount {
    font-size: 12px;
    color: var(--color-gray);
}

.youtuber__subscribe {
    color: var(--color-gray)
}