/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #222222;
  --color-red: #ff0b00;
  --color-blue: #0f74d9;
  --color-gray: #737578;
  --color-light-gray: #cbcfd4;

  /* Size */
  --padding: 12px;
  --youtuber-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* Universal tags */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  height: 48px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
}

.logo {
  font-size: var(--font-large);
}

.logo__icon i {
  color: var(--color-red);
}

.logo__title {
  color: var(--color-white);
}

.functions {
  display: flex;
  align-items: center;
}

.functions i {
  padding: 24px;
}

/* Video */
#video {
  position: sticky;
  top: 48px;
  text-align: center;
  background-color: var(--color-black);
}

.video__player {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Contents */
#contents {
  padding: var(--padding);
  padding-bottom: 6px;
}

/* Contents__description */
.contents__description {
  font-size: var(--font-large);
}

.description__hashtag {
  color: var(--color-blue);
}

.description__header {
  display: flex;
}

.header__more {
  height: 100%;
}

.description__views {
  flood-color: var(--color-gray);
  font-size: var(--font-micro);
}

.description__reactions {
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  margin: 6px 12px;
}

.reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction i {
  font-size: var(--font-large);
  margin-bottom: 6px;
}

.reaction p {
  font-size: var(--font-micro);
}

/* Contents__youtuber */
.contents__youtuber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
  padding: 12px 12px;
  border-top: solid 1px var(--color-light-gray);
  border-bottom: solid 1px var(--color-light-gray);
}

.youtuber__intro {
  display: flex;
  align-items: center;
}

.youtuber__intro__image {
  border-radius: 50%;
  width: var(--youtuber-size);
  height: var(--youtuber-size);
  margin-right: 15px;
}

.text__subscribersCount {
  color: var(--color-gray);
  font-size: var(--font-micro);
  padding-top: 4px;
}

.youtuber__subscribe {
  color: var(--color-gray);
}

/* Other videos */
#otherVideos {
  display: flex;
  flex-direction: column;
}

.otherVideos__video {
  display: flex;
  padding: 0 var(--padding);
  margin: 6px 0;
}

.video__image {
  flex: 1 1 48%;
}

.video__image .video__image {
  width: 100%;
}

.video__description {
  flex: 1 1 52%;
  font-size: var(--font-medium);
  padding: 0 6px;
}

.description__etc {
  font-size: 12px;
  color: var(--color-gray);
}

/* ContenstAndOtherVideos */
.contentsAndOtherVideos {
  display: flex;
  flex-direction: column;
}

/* For above 768px screen width */
@media screen and (min-width: 768px) {
  .contentsAndOtherVideos {
    flex-direction: row;
  }

  .otherVideos__video {
    margin: var(--padding);
  }
}
